<html ng-app="myApp">
<head>
	<title>Controllers in angularjs</title>

	<!-- If you are using the CSS version, only link these 2 files, you may add app.css to use for your overrides if you like -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/foundation.css">

  <!-- If you are using the gem version, you need this only -->
  <link rel="stylesheet" href="css/app.css">

  <script src="js/vendor/modernizr.js"></script>
</head>

<!-- Body tag augmented with ngController directive  -->
<body>
	<div class="container">
		<h1>Controllers</h1>
  		<!-- controllers -->
  		<p>Working on some angularjs controller concepts.</p>
	</div>
	

  <div class="row">
  	<!-- Sidebar -->
  <div class="large-4 columns">
  	<h2>Sidebar</h2>

  	<div ng-controller="MailListingCtrl">
  	<div>
  		<ul>
			<li ng-repeat="mail in email">
				{{mail.to}}, {{mail.from}}, {{mail.message}}
			</li>
		</ul>	
  	</div>
	
	
  	</div>

  </div>
  <!-- Content -->
  <div class="large-8 columns" ng-controller="HelloCtrl">
  	<h2>Content</h2>

	<div>
		<input type="text" ng-model="name">
		{{name}}
	</div>

  </div>
</div>

  

<br><br>




<script src="js/vendor/jquery.js"></script>
<script src="js/foundation.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.min.js"></script>
  <script src="app.js"></script>
</body>
</html>



