<html ng-app="myApp">
<head>
	<title>Controllers in angularjs</title>
</head>

<!-- Body tag augmented with ngController directive  -->
<body>
	<h1>Controllers</h1>
  <!-- controllers -->
  <p>Working on some angularjs controller concepts.</p>

  <div ng-controller="DoubleCtrl">
	Two times <input ng-model="double(num)">
	{{double}}
  </div>

<br><br>
<div ng-controller="HelloCtrl">
	<input type="text" ng-model="name">
	{{name}}
</div>




  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.min.js"></script>
  <script src="app.js"></script>
</body>
</html>



